@import '../../components/Styles/global.scss';

.Home {
  width: 100%;
  // padding: 1.5rem;
  .Title {
    position: relative;
    width: max-content;
    color: $light_green;
    margin: 1rem 0 2rem 0;
    z-index: 2;

    &::after {
      position: absolute;
      content: '';
      // background: $default_orange;
      height: 5px;
      width: 120px;
      right: 0;
      bottom: 5px;
      z-index: -1;
    }
  }

  .ListContent {
    display: grid;
    justify-content: center;
    gap: 1.5rem;
  }
}

// MEDIA QUERIES

@media screen and (min-width: 1240px) {
  .Home {
    width: 80% !important;
    margin: auto !important;
    padding: 3rem 0 4rem;
  }
  .ListContent {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 500px) {
  .Title {
    font-size: 1.5rem;
    &::after {
      width: 155px !important;
    }
  }

  .ListContent {
    grid-template-columns: repeat(2, 1fr);

    .singleDestination {
      height: auto;
    }
  }
}

@media screen and (min-width: 840px) {
  .ListContent {
    grid-template-columns: repeat(3, 1fr);

    .singleDestination {
      height: auto;
    }
  }
}
