@import 'components/styles/global.scss';

.About {
  align-items: center;
  height: 70vh;
  & .Content {
    .Title {
      padding-bottom: 4rem;
      color: $dark_orange;
      font-weight: $Bold;
    }
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
