@import '../styles/global.scss';

.Navbar {
  top: 0;
  width: 100%;
  position: sticky;
  z-index: 1000;
  padding: 1rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $background_pale_blue;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);

  & .LeftContainer {
    & .LogoTitle {
      color: $light_green;
      font-weight: 600;
    }
    & .Icon {
      font-size: 30px;
      color: $primary_orange;
      transform: translateY(5px);
      margin-right: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    .RightContainer {
      position: absolute;
      background: $background_pale_blue;
      height: max-content;
      width: 80%;
      border-radius: 1rem;
      top: -500rem;
      left: 50%;
      padding: 1rem;
      transform: translate(-50%);
      z-index: 2000;
      box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
      transition: 0.5s ease-in-out;

      .NavLists {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: 0.5rem 0;
        display: flex;
        align-items: center;

        .ListItem {
          padding: 0.5rem 0;
          justify-content: center;
          .NavLink {
            color: $light_green;
            font-size: 1rem;
            font-weight: 600;
            &:hover {
              color: $dark_orange;
            }
          }
          .NavLinkActive {
            color: $dark_orange !important;
          }
        }
      }
      .CloseNavbar {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        color: $light_green;
        &:hover {
          color: $default_orange;
        }
      }
    }

    .activeNavbar {
      top: 7rem;
    }
    .ContainerInfo {
      margin: 0.5rem 0;
    }
    .loginLogoutButton {
      margin: 1rem 0;
    }
  }

  .ToggleNavbar {
    .Icon {
      font-size: 25px;
      color: $primary_orange;
    }
    &:hover.Icon {
      color: $dark_orange;
    }
  }
}

.loginLogoutButton {
  min-width: 7rem;
  margin: 0 1rem;
  text-transform: none;
}

.ContainerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  margin: 0 1rem;
  flex-wrap: nowrap;
  .Avatar {
    width: 32px;
    height: 32px;
    margin: 0 0.5rem;
  }
  .TextUsername {
    color: $pale_dark_blue;
  }
}

// MEDIA QUERIES

@media screen and (min-width: 769px) {
  .ToggleNavbar,
  .CloseNavbar {
    display: none;
  }
  .Navbar {
    padding: 1.5rem 2rem;

    .RightContainer {
      .NavLists {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        .ListItem {
          .NavLink {
            color: $light_green;
            padding: 0 0.45rem;
            font-size: 1rem;
            font-weight: 600;

            &:hover {
              color: $dark_orange;
            }
          }
          .NavLinkActive {
            color: $dark_orange !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .Navbar {
    .RightContainer {
      .NavLists {
        .ListItem {
          padding: 0 0.7rem;
          min-width: max-content;
        }
      }
    }
  }
}

@media screen and (min-width: 1240px) {
  .Navbar {
    padding: 1rem 8.5rem;
  }
}
