@import 'color';
@import 'typography';

//style
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: 1rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-style: 100%;
}

body {
  background: $background_pale_blue;
}

@mixin setColor($fontWeight, $color) {
  font-weight: $fontWeight;
  color: $color;
}

.NameTableCell {
  @include setColor($Bold, $pale_dark_blue);
}

.PriceTableCell {
  @include setColor($Bold, $dark_orange);
}
