@import '../styles/global.scss';

.ContainerHeader {
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  .BreadcrumbsNavigation {
    margin-bottom: 1rem;
  }
  .InfoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .HostInfo {
      display: flex;
      align-items: center;
      & .Icon {
        width: 2rem;
        height: 2rem;
        color: $default_orange;
      }
      & .Title {
        color: $pale_dark_blue;
      }
    }
  }
}
