@import '../../styles/global.scss';

.TableHeader {
  padding: 1rem;
  padding-bottom: 0;
  justify-content: space-between;
  align-items: center;
  .TitleTable {
    color: $default_orange;
  }
  .DescTitle {
    color: $black_100;
  }

  & .ExtraHeader {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
  }
}
