@import '../styles/global.scss';

@mixin hover-visited($color, $bg-color, $border-color, $shadow-color: none) {
  color: $color;
  background-color: $bg-color;
  box-shadow: $shadow-color;
  @if ($border-color) {
    border-color: $border-color;
  }
}

@mixin disabled($bg-color, $border-color, $color: $white, $shadow-color: none) {
  background-color: $bg-color;
  border-color: $border-color;
  color: $color;
  box-shadow: $shadow-color;
}

@mixin active($color, $bg-color, $border-color, $shadow-color) {
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;
  box-shadow: $shadow-color;
}

@mixin outline_disabled($bg-color, $border-color, $color) {
  background-color: $bg-color;
  border-color: $border-color;
  color: $color;
}

@mixin initValue($color, $bg-color, $border-color) {
  background-color: $bg-color;
  color: $color;
  @if ($border-color) {
    border: 1px solid $border-color;
  }
}

@mixin border-color($border-color, $color) {
  border-color: $border-color;
  $color: $color;
}

@mixin btnBase(
  $normal-color,
  $normal-bg-color,
  $normal-border-color,
  $hover-color,
  $hover-bg-color,
  $hover-border-color,
  $active-color,
  $active-bg-color,
  $active-border-color,
  $active-shadow-color,
  $disabled-bg-color,
  $disabled-border-color,
  $disabled-color
) {
  @content;
  @include initValue($normal-color, $normal-bg-color, $normal-border-color);
  &:hover,
  :visited {
    @include hover-visited($hover-color, $hover-bg-color, $hover-border-color);
  }
  &:active {
    @include active(
      $active-color,
      $active-bg-color,
      $active-border-color,
      $active-shadow-color
    );
  }
  &:disabled {
    @include disabled(
      $disabled-bg-color,
      $disabled-border-color,
      $disabled-color
    );
  }
}

.BaseButton {
  height: 44px;
  border-radius: 50px;
  text-transform: capitalize;
}

.PrimaryButton {
  @include btnBase(
    $white,
    $primary_orange,
    null,
    $white,
    $light_orange,
    null,
    $white,
    $dark_orange,
    null,
    $btnShadowColor,
    $black_20,
    $black_20,
    $white
  );
  box-shadow: $btnShadowColor;
  &:hover {
    box-shadow: $btnShadowColor;
  }
}

.GhostButton {
  @include btnBase(
    $primary_orange,
    $white,
    $primary_orange,
    $light_orange,
    $white,
    $light_orange,
    $dark_orange,
    $white,
    $dark_orange,
    $white,
    $white,
    $black_20,
    $black_20
  );
}

.TextButton {
  @include btnBase(
    $primary_orange,
    $white,
    $white,
    $light_orange,
    $white,
    $white,
    $dark_orange,
    $white,
    null,
    $white,
    $white,
    $white,
    $primary_orange
  );
}
