@import '../../styles/global.scss';

@mixin text-color($textColor) {
  color: $textColor;
}

@mixin card-container(
  $padding,
  $height,
  $width,
  $backgroundColor,
  $marginBottomIcon,
  $cardIconColor
) {
  cursor: pointer;
  padding: $padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $height;
  width: $width;
  border-radius: 1rem;
  border: none;
  box-shadow: none;
  background-color: $backgroundColor;
  .CardIcon {
    height: 2rem;
    width: 2rem;
    margin-bottom: $marginBottomIcon;
    color: $cardIconColor;
  }
}

//CardHomePage

.singleDestination {
  height: 100%;
  display: grid;
  row-gap: 10px;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(140, 140, 140, 0.549);
  overflow: hidden;

  &:hover {
    background: $cardHover;
    box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
    transition: 0.3 ease;
  }

  .imageDiv {
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 2s ease;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  .cardInfo {
    padding: 1rem;
    .Name {
      @include text-color($dark_green);
      font-weight: $Bold;
      padding-bottom: 0.5rem;
    }
    .ContainerLocation {
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      margin: 0.3rem 0;

      .icon {
        @include text-color($light_orange);
        font-size: 1.2rem;
      }
      .Location {
        @include text-color($text_primary);
        font-weight: 400;
        font-size: 14px;
      }
    }

    .RoomInfo {
      width: 100%;
      justify-content: space-between;
      padding: 0.5rem 0;
      margin: 1rem 0;
      border-top: 1.5px solid $text_grey;
      border-bottom: 1.5px solid $text_grey;

      .RoomAvailable {
        max-width: 200px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .RoomNumber {
        // font-size: 1rem;
        @include text-color($primary_orange);
      }
    }

    .desc {
      @include text-color($text_primary);
      font-size: 13.5px;
      font-weight: 500;
    }

    .detailButton {
      margin-top: 1rem;
      width: 7rem;
      background-color: $light_green;
    }
  }
}
