@import '../../styles/global.scss';

@mixin text-color($textColor) {
  color: $textColor;
}

@mixin card-container(
  $padding,
  $height,
  $width,
  $backgroundColor,
  $marginBottomIcon,
  $cardIconColor
) {
  cursor: pointer;
  padding: $padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $height;
  width: $width;
  border-radius: 1rem;
  border: none;
  box-shadow: none;
  background-color: $backgroundColor;
  .CardIcon {
    height: 2rem;
    width: 2rem;
    margin-bottom: $marginBottomIcon;
    color: $cardIconColor;
  }
}

//CardHomePage

.singleDestination {
  height: 100%;
  width: 100% !important;
  display: grid;
  row-gap: 10px;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(140, 140, 140, 0.549);
  overflow: hidden;

  &:hover {
    background: $cardHover;
    box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
    transition: 0.3 ease;
  }

  .Image {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 2s ease;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  .CardInfo {
    padding: 1rem;
    padding-bottom: 0;
    .Name {
      @include text-color($dark_green);
      font-weight: $Bold;
    }
    & .Location {
      & .LocationText {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
      }
    }

    .RoomInfo {
      width: 100%;
      justify-content: space-between;
      padding: 0.5rem 0;
      margin: 1rem 0;
      border-top: 1.5px solid $text_grey;
      border-bottom: 1.5px solid $text_grey;

      .RoomAvailable {
        max-width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .RoomNumber {
        @include text-color($primary_orange);
      }
    }

    .Detail {
      @include text-color($black_80);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: justify;
    }

    .DetailButton {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      width: 7rem;
      background-color: $light_green;
    }
  }
}

.SkeletonContainer {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

@media screen and (min-width: 300px) {
  .SkeletonContainer {
    grid-template-columns: repeat(1, 1fr);
    .singleDestination {
      max-width: 120vh;
    }
  }
}

@media screen and (min-width: 500px) {
  .SkeletonContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 840px) {
  .SkeletonContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
