@import '../../styles/global.scss';

@mixin text-color($textColor) {
  color: $textColor;
}

//CardHomePage

.CardHome {
  height: 100%;
  width: 100% !important;
  display: grid;
  row-gap: 10px;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(140, 140, 140, 0.549);
  overflow: hidden;
  &:hover {
    background: $cardHover;
    box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
    transition: 0.3 ease;
  }
  & .CardContainer {
    display: flex;
    flex-direction: column;
    .Image {
      height: 30vh;
      width: 100%;
      border-radius: 0.5rem;
      overflow: hidden;
      .CardMedia {
        height: 100%;
        width: 100%;
        max-width: 100%;
        object-fit: fill;
        transition: 2s ease;
      }

      &:hover {
        .CardMedia {
          transform: scale(1.1);
        }
      }
    }

    .CardInfo {
      padding: 1rem;
      padding-bottom: 0;
      .Name {
        @include text-color($dark_green);
        font-weight: $Bold;
      }
      & .Location {
        & .LocationText {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: justify;
        }
      }

      .RoomInfo {
        width: 100%;
        justify-content: space-between;
        padding: 0.5rem 0;
        margin: 0.5rem 0 1rem;
        border-top: 1.5px solid $text_grey;
        border-bottom: 1.5px solid $text_grey;

        .RoomAvailable {
          max-width: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .RoomNumber {
          @include text-color($primary_orange);
        }
      }

      .DetailButton {
        width: 7rem;
        background-color: $light_green;
      }
    }
  }
}

.SkeletonContainer {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

@media screen and (min-width: 300px) {
  .SkeletonContainer {
    grid-template-columns: repeat(1, 1fr);
    .CardHome {
      max-width: 120vh;
    }
  }
}

@media screen and (min-width: 500px) {
  .SkeletonContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 840px) {
  .SkeletonContainer {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
  }
}
