@import '../../Styles/global.scss';

@mixin text-color($textColor) {
  color: $textColor;
}

@mixin card-container(
  $padding,
  $height,
  $width,
  $backgroundColor,
  $marginBottomIcon,
  $cardIconColor
) {
  cursor: pointer;
  padding: $padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $height;
  width: $width;
  border-radius: 1rem;
  border: none;
  box-shadow: none;
  background-color: $backgroundColor;
  .CardIcon {
    height: 2rem;
    width: 2rem;
    margin-bottom: $marginBottomIcon;
    color: $cardIconColor;
  }
}

.CardBill {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  .LeftCard {
    .CardContainer {
      min-width: 10rem;
      .GridContainer {
        display: flex;
        align-items: center;
      }
      @include card-container(
        1rem,
        100%,
        100%,
        $background_orange,
        0.5rem,
        $default_orange
      );
      .CardInfo {
        padding-left: 1rem;
        & .TextBill {
          @include text-color($light_green);
          font-weight: 600;
        }

        & .PriceInfo {
          display: flex;
          flex-direction: row;
          & .Price {
            @include text-color($dark_red);
            font-size: 18px;
          }
        }
      }

      .CardIcon {
        margin-bottom: 0 !important;
      }
    }

    .CardContainer:hover {
      background-color: $default_orange;
      .CardIcon {
        @include text-color($dark_green);
      }
      .TextBill {
        @include text-color($white);
      }
    }
  }

  .RightCard {
    display: grid;
    padding: 0;
    align-items: center;
    justify-content: space-around;
    .IconAddButton {
      @include text-color($dark_green);
      background-color: $default_orange;
    }
  }
}
