@import '../../styles/global.scss';

.TableRowLoading {
  display: none;
  &.Active {
    top: 0;
    left: 0;
    position: absolute;
    display: block !important;
    width: 100%;
    height: 100%;
    background: $background_green;
    & .Item {
      position: absolute;
      color: $primary_orange;
      top: 40%;
      left: 50%;
    }
  }
}
