@import '../../styles/global.scss';

@mixin text-color($textColor) {
  color: $textColor;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .RoomInfo {
    @include text-color($primary_orange);
    font-weight: $Bold;
    padding: 1rem;
  }
  .CardContainer {
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    background-color: $background_blue1;
    box-shadow: 0px 4px 10px rgba(12, 151, 237, 0.24);

    .CardInfo {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      .Label {
        @include text-color($pale_dark_blue);
        font-weight: $Medium;
      }
      .Value {
        @include text-color($pale_dark_blue);
      }
    }
  }
}
